<section
  class="text-white d-flex justify-content-center align-items-center align-items-lg-center Contact"
>
  <div class="container">
    <div class="row">
      <article
        class="d-none d-lg-block col-lg-4 offset-1 pr-0 align-self-center"
      >
        <img
          class="img-fluid img-p"
          src="../../../assets/images/contact-women.png"
          alt="¿Necesitas un asombroso sitio web?"
        />
      </article>
      <article class="col-12 col-lg-7 pl-0 text-center">
        <h3 class="mb-5 mt-5">¿Interesado?</h3>
        <h4 class="mb-5">¡No te quedes con la duda!</h4>
        <p class="u-flowText">
          Para más información, puedes contactarnos en al celular
          <strong class="text-white">+573209161794</strong> o al correo
          electronico
          <strong
            ><a class="text-white" href="mailto:bhcastillo@uniboyaca.edu.co"
              >info@mercuryconfecciones.com</a
            ></strong
          >.
        </p>
      </article>
    </div>
  </div>
</section>
