.Products {
  display: flex;
  height: calc(100vh - var(--padding-header));
}

.Sidebar {
  padding-top: var(--padding-products);
}
.Products-Content {
  padding-top: var(--padding-products);
  padding-left: var(--padding-products);

  flex-grow: 1;
}
.scroll {
  width: 900px;
  height: 540px;
  overflow-y: scroll;
}
