<section
  class="text-white d-flex justify-content-center align-items-end Welcome Padding-Header"
>
  <div class="container">
    <div class="row">
      <article class="col-12 col-lg-5 pt-lg-5">
        <h2>Haz tú diseño realidad</h2>
        <p class="u-flowText">
          Esperamos satisfacer a un mercado exigente que busca calidad en la
          prenda con rasgos propios y distintivos frente al mercado, de forma
          que le dé su toque personal y único.
        </p>
        <a
          [routerLink]="['/productos']"
          class="btn btn-lg active bg-success text-white border-0"
          role="button"
          aria-pressed="true"
        >
          <b>Sí, ¡empecemos!</b>
        </a>
      </article>
      <article class="col-12 col-lg-7 d-flex justify-content-center">
        <img
          class=""
          src="../../../assets/images/header-image.png"
          alt="¿Necesitas un asombroso sitio web?"
        />
      </article>
    </div>
  </div>
</section>
