<div *ngIf="!products">
  <app-lazy-loading></app-lazy-loading>
  <i class="fa fa-refresh fa-spin fa-5x" aria-hidden="true"></i>
</div>
<div *ngIf="products" class="container">
  <div class="row d-flex flex-column justify-content-center align-items-center">
    <h1 class="col text-center font color-title">{{ title }}</h1>
    <article class="container w-100">
      <div
        class="d-flex flex-wrap justify-content-center justify-lg-content-between"
      >
        <div
          class="mb-3 mr-4 pl-4 pr-sm-3 pl-sm-3"
          *ngFor="let product of products"
        >
          <div>
            <img
              class="mb-3 pointer"
              [src]="product.url | urlImage"
              [style.width]="anchoImagen"
              [style.height]="altoImagen"
              [title]="product.description"
            />

            <p class="mb-0">{{ product.description }}</p>
            <p class="card-text text-muted mb-4">
              <span class="mb-5">
                <p>{{ product.price | currency: "COP":"symbol":"5.0-0" }}</p>
              </span>
            </p>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
