.description {
  max-width: 12rem;
}
.slides {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.thumbnail {
  width: 78px;
}
ul {
  list-style: none;
}
.slide-item {
  cursor: pointer;
  transition: all, 5s ease-out;
}
.center-item {
  display: flex;
  justify-content: center;
}
.img-foto {
  display: flex;
  min-height: 360px;
  min-width: 200px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

/* ********** Media Queries Small ********** */
@media (min-width: 300px) {
  .Product {
    display: block;
    height: calc(100vh - var(--padding-header));
  }
  .title,
  .text-muted,
  .description {
    text-align: center;
  }
  .description {
    max-width: 27rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 480px) {
  .Product {
    display: flex;
    height: calc(100vh - var(--padding-header));

    justify-content: center;
    align-content: center;
  }
}
