<div *ngIf="product" class="Padding-Header">
  <div class="Product">
    <div class="mt-4  ">
      <div class="img-foto">
        <lib-ngx-image-zoom class=" pointer  " [thumbImage]="urlImage | urlImageMin" [circularLens]="true"
          [fullImage]="urlImage | urlImage">
        </lib-ngx-image-zoom>
      </div>
      <div class="center-item">

        <i class="fas fa-search-plus text-muted   ">Zoom </i>

      </div>
      <ul class="slides " *ngIf="product.focused">

        <li class="slide-item" *ngFor="let imageFocused of product.focused">

          <img (mouseenter)="onClickChangeImage(imageFocused)" [src]="imageFocused | urlImageMin" [alt]="product.title"
            class="thumbnail" />
        </li>
      </ul>
    </div>
    <div class="ml-2 mt-4">
      <h1 class="title">{{ product.title }}</h1>
      <p class="text-muted">
        {{ product.price | currency: "COP":"symbol":"5.0-0" }}
      </p>
      <p class="description">{{ product.description }}</p>
    </div>
  </div>
</div>