<section
  class="text-white d-flex justify-content-center align-items-center align-items-lg-center Contact"
>
  <div class="container">
    <div class="row">
      <article
        class="d-none d-lg-block col-lg-4 offset-1 pr-0 align-self-center"
      >
        <img
          class="img-fluid img-p"
          src="../../../assets/images/contact-women.png"
          alt="¿Necesitas un asombroso sitio web?"
        />
      </article>
      <article
        class="col-12 col-lg-7 pl-0 d-flex flex-column justify-content-center"
      >
        <p class="u-flowText text-center">
          Mercury es una compañía de confección ubicada en la ciudad de Tunja
          (Boyacá) que genera valor por medio de la confección y venta de
          prendas de vestir, en las líneas antifluido, administrativo, colegial
          y trabajo.
        </p>
      </article>
    </div>
  </div>
</section>
