<section class="text-white d-flex justify-content-center align-items-center align-items-lg-center Contact">
  <div class="container">
    <div class="row">
      <article class="d-none d-lg-block col-lg-4 offset-1 pr-0 align-self-center">
        <img class="img-fluid img-p" src="../../../assets/images/contact-women.png"
          alt="¿Necesitas un asombroso sitio web?" />
      </article>
      <article class="col-12 col-lg-7 pl-0 d-flex flex-column justify-content-center">
        <p class="u-flowText text-center">
          Somos una empresa Boyacense de confecciones
          con 5 años de experiencia en el mercado,
          suministrando dotaciones y uniformes a nivel
          regional y nacional, ofreciendo a nuestros clientes
          la mejor calidad en productos y servicios.
          Mercury elabora sus prendas con telas calificadas
          como LaFayette, Fabricato o Margaretex, contamos
          con mano de obra calificada y 100% Boyacense, con
          altos estándares de calidad e innovación en cada
          prenda.

        </p>
      </article>
    </div>
  </div>
</section>